extends layout

block content
  #main_back.page-header(data-parallax="true")
    .container
      .row
        .col-md-8.mx-auto.py-3
          h3.text-danger.font-weight-bold.white-shadow 24시간 연중무휴 부재시 10% 할인
      .row.mt-5#main-content
        .col-md-8.mx-auto.text-center
          h3 동종업계 최강
          h1.my-5 롤메이트
          .row.pt-5
            .col-12.text-center
              h2.text-info.white-shadow.my-5 계좌번호 신한은행 110 403 616058 김수환
          .row#sns_info.py-5
            .col-md-6
              .d-flex.flex-row.bg-primary
                img(src='/assets/img/svgs/kakao_black.svg', height='70px')
                .d-flex.flex-column
                  small 카카오톡
                  p aosodo5
            .col-md-6
              .d-flex.flex-row.bg-success
                img(src='/assets/img/svgs/phone_black.svg', height='70px')
                .d-flex.flex-column
                  small PHONE
                  p(style='font-size:1.5rem;') 010 8070 6768
            .col-12
              h4.text-center.text-danger.white-shadow www.롤메이트.com

  .main.main-raised
    .container
      .section.text-center
        .row
          .col-md-8.ml-auto.mr-auto
            h2.title 롤메이트 소개
            h4.description.text-left
              | 롤메이트 강사진은 여러 업체에서 오랜 기간 활동해온 베테랑 강사님들이 한데모여 업계최고의 팀으로 탄생시키자는 꿈을 품고 만들어진 팀입니다.
              br
              | 저희 메인 첼린져 그마 다수의 강사님들이 구성되어 있으며 각 포지션별로 최정상급의 실력을 가지고 있습니다. 
              br
              | 실력뿐만 아니라 책임감, 사명감, 친절함이 깃든 훌룡한 강사님들이며 활동해온 기간 동안 물의를 일으킨 적이 한번도 없는 클린한 기사들 입니다.
              br
              | 여러분이 가장 걱정하시는 정지 걱정 롤메이트와 함께라면 걱정마세요! 
              br
              | 지역간 거리 계산 후 맞춤접속
        .features.girls_back
          .row
            .col-md-3
              .info
                h3 장점 1
                h4 다양한 이벤트
                h4.description 신규고객 할인, 10판 신청시 +1 판
            .col-md-3
              .info
                h3 장점 2
                h4 여러분이 가장 걱정하시는 정지걱정
                h4.description 롤메이트와 함께라면 걱정마세요!
            .col-md-3
              .info
                h3 장점 3
                h4 지역간 거리 계산 후 맞춤 접속
            .col-md-3
              .info
                h3 장점 4
                h4 정식 사업자 등록 업체