extends layout

block content
  .page-header.page-back(data-parallax="true" style="background-image: url('/assets/img/heart_girl.jpg')")
    .container
      .row
        .col-md-12.text-center
          h1.title 거래방식 안내
  .main.main-raised
    .container
      .section
        .row
          .col-12
            h3 문화상품권, 계좌이체
            h4.description 문화상품권은 현금교환과정 수수료 10%로 인한 별도의 추가금이 발생합니다.
        .row#order_info.text-center.my-5.text-white
          .col-md-2
            .rounded-circle.bg-primary 
              i.material-icons face
              p 작업의뢰
          .col-md-2
            .rounded-circle.bg-primary 
              i.material-icons credit_card
              p 견적확인 및 결제
          .col-md-2
            .rounded-circle.bg-primary 
              i.material-icons account_balance_wallet
              p 입금확인
          .col-md-2
            .rounded-circle.bg-primary 
              i.material-icons assignment_ind
              p 계정확인
          .col-md-2
            .rounded-circle.bg-primary 
              i.material-icons play_circle_outline
              p 작업시작
          .col-md-2
            .rounded-circle.bg-primary 
              i.material-icons assignment_turned_in
              p 작업완료
        .row
          .col-12
            h4 ◆ 카카오톡으로 상담문의하기.
            h4 ◆ 가시고자 하는 티어 원하는 방법 상세히 견적확인하기
            h4.description 롤메이트는 24시간 상담 대기 중이며 혹시라도 답변이 늦을 경우엔 통화나 카카오 보이스톡을 주시면 바로 답변하도록 하겠습니다.
