extends layout
block append_css
  link(href='/public_css/review.css', rel='stylesheet')
block content
  #review_back.page-header.page-back(data-parallax="true")
    .container
      .row
        .col-md-12.text-center
          h1.title 후기 게시판
  .main.main-raised
    .container
      .row.section
        .col-md-8.mx-auto
          form(onsubmit='return fnSubmitReview()')
            input(type='hidden', name='token')
            .row
              .col-12
                .form-group
                  label 제목
                  input.form-control-plaintext(type='text', name='title', value=doc.title)
              .col-md-6
                .form-group
                  label 글쓴이
                  input.form-control-plaintext(type='text', name='writer', value=doc.writer)
              .col-md-6
                .form-group
                  label 비밀번호
                  input.form-control(type='password', name='password')
            textarea#editor(name='content')
            .d-flex.justify-content-between
              a.btn.btn-default(href='/review/list') 목록으로
              button.btn.btn-primary(button='submit') 저장

block append_js
  script(src="/nm/ckeditor4/ckeditor.js", type='text/javascript')
  script(src='/public_js/review_update.js', type='text/javascript')