extends layout

block content
  .page-header.page-back(data-parallax="true" style="background-image: url('/assets/img/sakimichan.png');")
    .container
      .row
        .col-md-12.text-center
          h1.title 작업현황
  .main.main-raised
    .container
      .section.text-center
        .team
          .row
            each item in list.img_url
              .col-12
                .team-player
                  .card.card-plain
                    .col-md-10.mx-auto
                      img.img-raised.img-fluid(src=item, alt="작업현황")
            //- .col-12
            //-   .team-player
            //-     .card.card-plain
            //-       .col-md-10.mx-auto
            //-         img.img-raised.img-fluid(src="/assets/img/status/status2.jpg" alt="Thumbnail Image")
            //- .col-12
            //-   .team-player
            //-     .card.card-plain
            //-       .col-md-10.mx-auto
            //-         img.img-raised.img-fluid(src="/assets/img/status/status3.jpg" alt="Thumbnail Image")
            //- .col-12
            //-   .team-player
            //-     .card.card-plain
            //-       .col-md-10.mx-auto
            //-         img.img-raised.img-fluid(src="/assets/img/status/status4.jpg" alt="Thumbnail Image")
            //- .col-12
            //-   .team-player
            //-     .card.card-plain
            //-       .col-md-10.mx-auto
            //-         img.img-raised.img-fluid(src="/assets/img/status/status5.jpg" alt="Thumbnail Image")
            //- .col-12
            //-   .team-player
            //-     .card.card-plain
            //-       .col-md-10.mx-auto
            //-         img.img-raised.img-fluid(src="/assets/img/status/status_3.jpg" alt="Thumbnail Image")
            //- .col-12
            //-   .team-player
            //-     .card.card-plain
            //-       .col-md-10.mx-auto
            //-         img.img-raised.img-fluid(src="/assets/img/status/status_4.png" alt="Thumbnail Image")
            //- .col-12
            //-   .team-player
            //-     .card.card-plain
            //-       .col-md-10.mx-auto
            //-         img.img-raised.img-fluid(src="/assets/img/status/status_5.png" alt="Thumbnail Image")