extends layout

block content
  .page-header.page-back(data-parallax="true" style="background-image: url('/assets/img/girls4_new.jpg');")
    .container
      .row
        .col-md-12.text-center
          h1.title 강사진 소개
  .main.main-raised
    .container
      .section.text-center
        h4.description 최고의 강사진 롤메이트 믿고 맡겨주세요
        h4.description 롤메이트의 강사진은 첼린져 , 그랜드마스터 이상으로 구성되어있습니다.
        .team
          .row
            .col-12
              .team-player
                .card.card-plain
                  .col-md-10.mx-auto
                    img.img-raised.img-fluid(src="/assets/img/team_info/info_mid.jpg" alt="Thumbnail Image")
                  h4 롤메이트 미드 기사
                    br
                    small.card-description.text-muted 주포지 : 미드, 부포지 : 정글
            .col-12
              .team-player
                .card.card-plain
                  .col-md-10.mx-auto
                    img.img-raised.img-fluid(src="/assets/img/team_info/info_sup.jpg" alt="Thumbnail Image")
                  h4 롤메이트 서폿 기사
                    br
                    small.card-description.text-muted 매 시즌 그마 챌 유지하시는 기사님 인증완료
            .col-12
              .team-player
                .card.card-plain
                  .col-md-10.mx-auto
                    img.img-raised.img-fluid(src="/assets/img/team_info/info_one.jpg" alt="Thumbnail Image")
                  h4 롤메이트 원딜 기사
                    br
                    small.card-description.text-muted 2020-01-10 인증완료
            .col-12
              .team-player
                .card.card-plain
                  .col-md-10.mx-auto
                    img.img-raised.img-fluid(src="/assets/img/team_info/info_jung.jpg" alt="Thumbnail Image")
                  h4 롤메이트 정글 기사
                    br
                    small.card-description.text-muted 주포지 : 정글, 부포지 : 미드 2020-01-10 인증완료
            .col-12
              .team-player
                .card.card-plain
                  .col-md-10.mx-auto
                    img.img-raised.img-fluid(src="/assets/img/team_info/info_top.jpg" alt="Thumbnail Image")
                  h4 롤메이트 탑 기사
                    br
                    small.card-description.text-muted 주포지 : 탑(잭스장인, 이렐, 아트록스) 넓은 챔프 폭