.navbar-translate
  a.navbar-brand.font-weight-bold(href="/", style='font-size:1.7rem;') LOLMATE
  button.navbar-toggler(type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation")
    span.sr-only Toggle navigation
    span.navbar-toggler-icon
    span.navbar-toggler-icon
    span.navbar-toggler-icon
.collapse.navbar-collapse#menu
  ul.navbar-nav.ml-auto
    li.nav-item
      a.nav-link(href="/price") 가격표
    li.nav-item
      a.nav-link(href="/team") 강사진 소개
    li.nav-item
      a.nav-link(href="/qna") 거래방식 안내
    li.nav-item
      a.nav-link(href='/status') 작업현황
    //- li.nav-item
    //-   a.nav-link(href='/review/list') 후기 게시판
    