#review_back {
  background-image: url("/assets/img/violet_girl.jpg");
}
a[data-role="button"],
.input-group button[name="btnSearch"] {
  background-color: #9c27b0;
  color: white;
  cursor: pointer;
}
table th,
table td {
  text-align: center;
}
a[data-role="button"] {
  padding: 6px 15px;
}
#read_content {
  padding: 1rem 0;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
}
.modal-footer button {
  flex: 1;
  border-radius: 0;
  padding: 1rem;
}
.modal-footer button:first-child {
  border-bottom-left-radius: 0.3rem;
}
.modal-footer button:last-child {
  border-bottom-right-radius: 0.3rem;
}
